#b1{
    background-image: url(imagenes/fondo.gif);
    background-size: cover;
}
.tablero {
    text-align: center;
}
#tabla1{
    width: 50%;
    margin: 0 auto;
}
.txt1{
    text-shadow: 3px 2px #FFC9F5;
}
#txt2{
    color: white;
    text-shadow: 5px 3px black;
    font-family: cursive;
}
.fila {
    display: flex;
    justify-content: center;
}

.tarjeta {
    width: 100px;
    height: 100px;
    background-color: #FFDDF9;
    border: 1px solid #999;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    border-radius: 10px;
}
.tarjeta:hover{
    transform: scale(1.090);
    transition: 1s;
}
#top{
    margin: 0 auto;
    border: solid 5px pink;
    display: flex;
    width: 30%;
    justify-content: center;
    background-image: url(imagenes/fon.jpg);
    margin-top: 2%;
}